# macOS system files
.DS_Store

# Editor folders
.vscode/
.idea/

# Python cache
__pycache__/

# Ignore all USDZ files
*.usdz

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Logs
*.log
